@define-mixin atSmall {
    @media (min-width: 26.25rem) {
        @mixin-content;
    }
}

@define-mixin atMediumSmall {
    @media (min-width: 37.5rem) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 56.25rem) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 75rem) {
        @mixin-content;
    }
}

@define-mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}