.large-hero{
    border-bottom: 5px solid $mainBlue;    
    position: relative;

    @mixin atSmall {
        border-bottom: 10px solid $mainBlue; 
    }

    &__image {
        display: block;
    }

    &__text-content {
        padding-top: 88px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;

        @mixin atMedium {
            padding-top: 60px;
        }
    }

    &__title {
        font-weight: 300;
        color: $mainBlue;
        margin: 0;
        font-size: 2rem;

        @mixin atSmall {
            font-size: 4.8rem;
        }
    }
    
    &__subtitle {
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.5rem;
        margin: 0;

        @mixin atSmall {
            font-size: 2.9rem;
        }
    }

    &__description{
        color: #fff;
        font-size: 1.1rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;

        @mixin atSmall {
            font-size: 1.875rem;
        }
    }
}

.my-name__title, .my-name__subtitle  {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* 
    animation-delay: 1.5s; 
    animation-iteration-count: 2;
    */
}

.my-name__subtitle  {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* 
    animation-delay: 1.5s; 
    animation-iteration-count: 2;
    */
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);         
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);         
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}