.line-on-side {
    border-collapse: separate;
    border-spacing: 1rem 0;
    display: table;
    line-height: 0;
    text-align: center;
    white-space: nowrap;
    width: 75%;

    &:before,
    &:after {
        border-top: 10px double $mainBlue;
        content: '';
        display: table-cell;
        width: 50%;
        border-top-width: 6px;
    }

    &--white {
        
        &:before,
        &:after {
            border-top: 10px double white;
        }
    }
}

