.primary-nav {
    padding-top: 10px;

    @mixin atMedium {
        padding-top: 0;
    }

    &--link {

        &:link,
        &:visited {
            /* padding: 1rem 2rem; */
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $mainOrange 50%);
            background-size: 250%;
            transition: all .4s;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $mainBlue;
            transform: translateY(-.1rem);
        }

    }

    &--pull-right {

        @mixin atMedium {
            float: right; 
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        list-style: none;
        display: inline-block;
        padding-right: 5px;

        @mixin atMedium {
            padding-right: 1.25rem;
            float: left;
            display: block;
        }
    }

    li:last-child {
        padding-right: 0;

        @mixin atMedium {
            padding-right: 1.25rem;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        display: block;
        padding: .3125rem .5rem;
        font-size: .8rem;
        background-color: rgba($mainBlue, .5);

        @mixin atMedium {
            font-size: 1rem;
            padding: .75rem 0;
            background-color: transparent;
            
            &.is-current-link{
                color: #fabb69;
            }
        }
    }
}