.row {

    @mixin clearfix;

    &--gutters {
        margin-right: -4.0625rem;
    }

    &--gutters > div {
        padding-right: 4.0625rem;
    }

    &__4 {
        float: left; 
        width: 33.33%;
    }

    &__8 {
        float: left; 
        width: 66.66%;
    }
}