.skill-section {

    &--paragraph-container{
        text-align: center;
        font-weight: 300;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;   

        /* &--no-margin-top {
            margin-top: 0;                    
        } */

        & p.pr {
            line-height: 1.3rem;
        }
        
        & p.pr:first-child {
            line-height: normal;
        }
          
    }

    &--skills-container {
        width: 80%;
        background-color: #ddd;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    &--items {
        background-color: $mainBlue;
        margin: 5px 0;
        color: white;    
        text-align: left;
        padding-left: 1rem;
        line-height: 40px;    

        &-one {
            width: 80%;
        }

        &-two {
            width: 80%;
        }

        &-three {
            width: 30%;
        }

        &-four {
            width: 25%;
        }

        &-five {
            width: 20%;
        }

        &-six {
            width: 65%;
        }

        &-seven {
            width: 30%;
        }

        &-eight {
            width: 20%;
        }

        &-nine {
            width: 45%;
        }

        &-ten {
            width: 35%;
        }
    }
}
  




  