.social-icons{
    text-align: center;

    &-dark {
        border: 1 solid $mainBlue;
    }

    &__icon {
        display: inline-block;
        height: 35px;
        position: relative;

        &-gold {
            background-color: $mainOrange;    
            margin: 0 5px 5px 5px;     
            width: 33%;   
            height: 72px;
            width: 42px;
        }

        @mixin atSmall {
            width: 52px;
            margin: 0 5px;
        }

        @mixin atMedium {
            width: 62px;
            margin: 0 5px;
        }

        @mixin atLarge {
            width: 72px;
            margin: 0 5px;
        }

        .icon {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}