.wrapper {
    overflow: hidden;
    padding: 0 1.125rem 0 1.125rem;
    max-width: 77.25rem;
    margin-left: auto;
    margin-right: auto;

    &--medium {
        max-width: 61rem;
    }

    /* 
    Any wrapper that is nested within another wrapper
    Should no longer have any horizontal padding
    */
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin {
        margin-bottom: 1rem;

        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
    }
}